<%= render 'book_list', {book: @book_new, user: @user} %>

<div> <%= flash[:notice] %></div>

ユーザー一覧画面
<h2>Users</h2>
    <% @users.each do |book| %>
    <p><%= user.name %></p>
    <p><%= user.introduction %></p>
    <% end %>
